.header{
  text-align: center;
}

.form{
  background: rgb(74, 158, 163);
  height: auto;
  width: auto;
  display: grid;
  justify-items: center;
  text-align: center;
  margin-left: 300px;
  margin-right:300px;
}